@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #dc2626;
  --brand-dark: #b91c1c;
  --brand-light: #f87171;
  --brand-lighter: #fca5a5;
}

html {
  scroll-behavior: smooth;
}
